# Project exclude paths
/jdocuments-submitter/target/
/jdocuments-submitter/Cargo.lock
/jdocuments-server/target/
/jdocuments-server/.mvn/
/jdocuments-commons/target/
/jdocuments-wasm-client/target/
/jdocuments-wasm-client/Cargo.lock
/jdocuments-commons/Cargo.lock
JDocuments.iml
.idea